.container {
    max-width: 768px;
    margin: 0 auto;
}

.cash-header {
    display: grid;
    row-gap: 52px;
    justify-items: center;
    padding-top: 52px;
    margin-bottom: 20px;
}

.cash__title {
    max-width: 376px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.search-field {
    max-width: 376px;
    width: 100%;
    height: 48px;
}

.search-field__input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    color: var(--black);
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-field__input::placeholder {
    color: var(--dark-gray);
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.search-field__input:focus {
    color: var(--black);
    background-color: transparent;
    border-color: var(--light-gray);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.cash-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cash__name {
    color: var(--black);
    font-size: 36px;
    font-weight: 600;
}

.cash-buttons-wrapper {
    width: 296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    position: relative;
    display: grid;
    grid-template-columns: 136px 1fr 180px 32px;
    grid-column-gap: 8px;
    padding: 20px 0;
    border-bottom: 2px solid var(--linen);
}

.product__image-wrapper {
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: var(--linen);
    border-radius: 10px;
}

.product__image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product__desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.product__supplier {
    color: var(--dark-gray);
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.product__characters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__price {
    font-family: "Tahoma", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.product__data-wrapper {
    width: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
    padding: 6px 12px;
    background-color: var(--linen);
    border-radius: 8px;
}

.product__edit {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.product__btn-minus {
    width: 24px;
    height: 24px;
    background: url("../images/minus.svg");
}

.product__btn-plus {
    width: 24px;
    height: 24px;
    background: url("../images/plus.svg");
}

.product__count-field {
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.product__btn-remove {
    position: absolute;
    right: 0;
    top: 64px;
    width: 24px;
    height: 24px;
    background: url("../images/close.svg") no-repeat;
}

#ids {
    width: 100%;
    height: auto;
}